

<form action="/editdatajurusan/<%= jurusan._id %>?_method=PUT" method="post">
    <input type="hidden" name="id" value="<%= jurusan._id %>" class="form-control mb-2">
    <input type="text" name="name" value="<%= jurusan.name %>" class="form-control mb-2" required>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="edit" class="btn btn-primary">Simpan</button>
    </div>
</form>



